 .body {
     background: url("./images/full-bloom/full-bloom.png");
     font-family: Arial, Helvetica, sans-serif;

 }
 .navbar-nav {
     float: right;
 }
 #footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
     background: #f5f5f5;
     text-align: center;
 }
 .word {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
 }
 .rpg {
    width: 69%;
    border: 0 none;
    opacity: 0.8;
 }
 .trivia {
    width: 105%;
    border: 0 none;
    opacity: 0.8;
 }
 .info-widget {
    width: 52%;
    border: 0 none;
    opacity: 0.8;
 }
 .rock-paper-scissor {
    width: 115%;
    border: 0 none;
    opacity: 0.8;
 }